#Task 1

In [ ]:
print("Hello, Python!")
a = 5
b = 3
c = a + b
print(f"{a} + {b} = {c}")

#Task 2

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
my_set = {2, 4, 6}
my_tuple = (1, 3, 5)
my_dict = {"a": 1, "b": 2}
my_dict ["c"] = 3
print(my_list)
print(my_set)
print(my_tuple)
print(my_dict)

#task 3

In [ ]:
import numpy as np

a= np.arange(1, 11)
print(a)
print(f"Mean: {np.mean(a)}")
print(f"Max: {np.max(a)}")
print(f"Min: {np.min(a)}")

#Task 4

In [ ]:
import pandas as pd

In [ ]:
data = {"name":["madhu", "chandru", "suriya", "madhan","virat", "Giribalan", "Sailajan", "Navakriyan", "Daran", "Rajkiran"],
        "Age": [20, 21, 22, 18, 20, 25, 18, 19, 17, 20]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.info()

#Task 5

In [ ]:
data = {}

In [ ]:
for _ in range(3):
    key = input("Enter the key: ")
    value = int(input("Enter the value in numbers: "))
    data [key] = value

Enter the key: 2
Enter the value in numbers: 2
Enter the key: 3
Enter the value in numbers: 3

In [ ]:
print(data)

#Bonus

In [ ]:
import numpy as np

In [ ]:
first_matrix = np.array([[1, 2], [3, 4]])
second_matrix = np.array([[5, 6], [7, 8]])

In [ ]:
result_matrix = np.add(first_matrix, second_matrix)
print(result_matrix.tolist())